<div class="container mt-5">
    <div class="card p-4 shadow">
      <h2 class="text-center">Add Books</h2>
      <form [formGroup]="bookForm" (ngSubmit)="submitBooks()">
        <div formArrayName="books">
          <div *ngFor="let book of books.controls; let i = index" [formGroupName]="i">
            <div class="mb-3">
              <label class="form-label">Book Title</label>
              <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="mb-3">
              <label class="form-label">Author</label>
              <input type="text" class="form-control" formControlName="author">
            </div>
            <button type="button" class="btn btn-danger" (click)="removeBooks(i)">Remove</button>
          </div>
        </div>
        <button type="button" class="btn btn-primary" (click)="addBookField()">Add More Books</button>
        <button type="submit" class="btn btn-success w-100 mt-3">Submit Books</button>
        <button class="btn btn-danger w-100 mt-3" (click)="logout()">logout</button> 
      </form>
    </div>
  </div>
  